-r requirements.txt

#Development tools
pytest>=7.4.0 #Tests
pytest-cov>=4.1.0 #Code coverage
black>=23.7.0 #Code formatting
ruff>=0.0.285 #Linting
mypy>=1.4.1 #Type checking

ipython>=8.14.0 #Python REPL  Maybe redundant with pycharm?
#ipdb>=0.13.13 #Debugger built on top of python, not useful on pycharm
rich>=13.5.0  # For CLI output